
.hexagon-button {
    -fx-shape: "M82.27241335952166 2.4999999999999996Q86.60254037844386 0 90.93266739736606 2.5L168.87495373796554 47.5Q173.20508075688772 50 173.20508075688772 55L173.20508075688772 145Q173.20508075688772 150 168.87495373796554 152.5L90.93266739736606 197.5Q86.60254037844386 200 82.27241335952166 197.5L4.330127018922193 152.5Q0 150 0 145L0 55Q0 50 4.330127018922194 47.5Z";
    -fx-border-color: #0000008b;
}

.mapPane {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
    -fx-box-border: transparent;
}

.subMapPane {
    -fx-box-border: transparent;
}
